.headerComponent {
  background: #5f27cd;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}
.headerComponent .fa {
  color: #fff;
  font-size: 2rem;
}
.logoutBtn {
  background: #fff;
  color: #5f27cd;
  width: 7%;
  height: 2.2rem;
  font-size: 1.1rem;
  text-align: center;
  outline: none;
  border-radius: 1rem;
  border: none;
  font-weight: 200;
  cursor: pointer;
  user-select: none;
}
